#output {
  min-height: 40%;
  height: 70%;
  overflow-y: auto;
}
.newDiv {
  display: flex;
  padding: 10px;
  margin: 10px 0px;
}
.newDivfinished {
  text-decoration-line: line-through;
  color: gray;
}

.newFinished {
  width: 10%;
  font-size: larger;
  font-weight: bold;
}
.newFinished:hover {
  cursor: pointer;
  color: rgb(36, 174, 36);
}
.newFinsishednewDiv {
  color: rgb(36, 174, 36);
}
.newoutput {
  width: 80%;
  font-size: 20px;
  padding: 0px 5px;
  overflow: hidden;
}
.newClose {
  width: 10%;
  font-size: large;
  color: red;
  font-weight: bold;
}
.newClose:hover {
  cursor: pointer;
  columns: rgb(187, 13, 13);
}
